@import url("../main.css");

.footer {
  margin-top: auto;
  background-color: var(--green-2);
}

.footernav {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  text-decoration: none;
  color: var(--green-1);
  font-weight: bold;
  display: flex;
  justify-content: space-around;
}
