@import url("../main.css");

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: auto; /* Set the fixed height of the footer here */
  background-color: var(--green-2);
}

.footernav {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  text-decoration: none;
  color: var(--green-1);
  font-weight: bold;
}
