@import url("../main.css");

.footer {
  margin-top: auto;
  background-color: var(--green-2);
}

.footernav {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  text-decoration: none;
  color: var(--green-0);
  font-weight: bold;
}

.fa-brands {
  color: var(--green-0);
  font-size: 2rem;
}

.footer > div {
  display: flex;
  justify-content: space-around;
}
