@import url("../main.css");

h1 {
  font-family: "Briem Hand";
  font-weight: 400;
  font-style: normal;
  font-size: 65px;
  text-align: center;
}

h3 {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  text-align: center;
  font-size: 2em;
}

#header {
  background-color: var(--green-2);
  color: var(--green-0);
  display: flex;
  justify-content: space-between;
}

.img {
  display: flex;
  justify-content: center;
}

img {
  width: 100%;
  height: auto;
  max-height: 280px;
  max-width: 280px;
  /* min-height: 200px; */
}

#header-center {
  flex-basis: 25%;
}
