:root {
  font-family: "Briem Hand", cursive;
  font-optical-sizing: auto;
  font-size: 25px;
  font-weight: 500;
  font-style: normal;

  --green-0: #178536;
  --green-1: #94d2bd;
  --green-2: #a4e6bb;
  --yellow-0: #e5f993;
}

body,
html,
#root {
  height: 100%;
  display: flex;
  flex-direction: column;
}

body {
  color: var(--green-0);
  background-color: var(--green-2);
  margin: 1rem 1rem;
}

.features-icons {
  background: var(--yellow-0);
  border: 2px solid #178536;
}

.projects {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

a,
h5,
h6 {
  text-align: center;
}

.document {
  display: flex;
  flex-direction: column;
}

.resumeImage {
  justify-content: center;
  align-items: center;
}

.receptacle {
  display: flex;
  justify-content: space-around;
}

.front-end {
  text-decoration: underline;
  color: var(--green-0);
}

.back-end {
  text-decoration: underline;
  color: var(--green-0);
}

ul {
  font-size: 0.8rem;
}

@media screen and (width < 1029px) {
  li.navbutton,
  li.navbutton-active {
    font-size: 19px;
  }
}
@media screen and (width >= 1029px) {
  li.navbutton,
  li.navbutton-active {
    font-size: 30px;
  }
}
